/*
 * Typography
 */

:root {
	/* System font stacks swiped from https://systemfontstack.com/ */
	--font-family-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial,
		sans-serif;
	--font-family-serif: Iowan Old Style, Apple Garamond, Baskerville,
		Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	--font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono,
		Lucida Console, monospace;
}

/*
 * Color
 */

:root {
	--color-background: #ffffff;
	--color-background-muted: #efefef;
	--color-image-background: #ffffff;
	--color-active: #007aff;
	--color-visited: #9000ff;
	--color-border: #cccccc;
	--color-text-display: #000000;
	--color-text-body: #333333;
}

/**
 * Dark mode
 */

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #1f1f1f;
		--color-background-muted: #333333;
		--color-image-background: #ffffff; /* Image backgrounds won't change */
		--color-active: #3791ff;
		--color-active-semitransparent: rgba(55, 145, 255, 0.5);
		--color-visited: #cd76f8;
		--color-border: #666666;
		--color-text-display: #ffffff;
		--color-text-body: #dddddd;
	}
}

/*
 * Global
 */

* {
	box-sizing: border-box;
}

body,
html {
	font-family: var(--font-family-serif);
	color: var(--color-text-body);
	background: var(--color-background);
}

@media print {
	html,
	body {
		margin: 0;
		padding: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text-display);
	font-family: var(--font-family-sans);
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-active);
}

a:visited {
	color: var(--color-active);
}

/*
 * Global classes
 */

/* GLOBAL: FOOTER */

.g-footer {
	border-top: 1px solid var(--color-neutral-200);
	text-align: center;
	padding: 3rem 1rem 2rem 1rem;
}

/* GLOBAL: LINKS */

.g-link {
	text-decoration: none;
	font-family: var(--font-family-sans);
}

.g-link-arrow {
	font-family: var(--font-family-sans);
}

/*
 * FAQ
 */

details > :last-child {
	padding-bottom: 12px;
}

details summary {
	padding-top: 6px;
	padding-bottom: 6px;
	cursor: pointer;
}

details summary:hover {
	color: var(--color-active);
}

/**
 * Layout
 */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-container {
	margin: 0 auto;
	padding: 1rem 1rem 8rem 1rem;
}

@media print {
	.page-container {
		width: auto;
		padding: 0;
	}
}
.instructions-container {
	width: 100%;
	max-width: 8.5in;
}

/**
 * Print setup
 */

/* Default to letter page size */
@page {
	size: 8.5in 11in;
	margin: 0;
}

/* Hide all other elements to print the letter page */
@media print {
	.noprint {
		display: none;
	}
}

/* Style for the letter page */
.letter-page {
	position: relative;
	width: 8.5in;
	height: 11in;
	background: var(--color-image-background);
	border: 1px solid #ccc;
}
@media print {
	.letter-page {
		border: none;
		background: none;
	}
}

/* Style some dummy content, occupying the full letter page */
.letter-page-contents {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0.5in;
	/* border: 3px solid magenta; */
}

/* Moveable elements */
.can-move {
	cursor: move;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 4px;
}

.can-move.selected {
	outline: 2px solid var(--color-active);
}
@media print {
	.can-move.selected {
		outline: none;
	}
}

.delete-button {
	cursor: pointer;
	display: none;
	font-size: 0.75rem;
	position: absolute;
	right: 2px;
	top: 2px;
}

.can-move.selected .delete-button {
	display: block;
}
@media print {
	.can-move.selected .delete-button {
		display: none;
	}
}

/*
 * File Input
 */

.file-input-container {
	display: flex;
	flex-direction: column;
}

.file-input {
	width: 100%;
	height: 100%;
	padding: 1rem;
	border-radius: 8px;
	background: var(--color-background-muted);
	cursor: pointer;
}

.file-input.drag-active {
	outline: 2px solid var(--color-active);
}
